[submodule "site-lisp/el-easydraw"]
	path = site-lisp/el-easydraw
	url = https://github.com/misohena/el-easydraw.git
[submodule "site-lisp/magent"]
	path = site-lisp/magent
	url = git@github.com:Jamie-Cui/magent.git
[submodule "site-lisp/overleaf-project"]
	path = site-lisp/overleaf-project
	url = git@github.com:Jamie-Cui/overleaf-project.git
